/* Colores para fuentes */

.c-negro {
    color: rgba(0, 0, 0, 1) !important;
}

.c-blanco {
    color: white;
}

.c-azul-talavera {
    color: #428bca;
}

.c-amarillo {
    color: gold;
}

/* Fuente roboto */
.roboto {
    font-family: 'Roboto', sans-serif!important;
}

/* Fuente montserrat */
.montserrat {
    font-family: 'Montserrat', sans-serif;
}


/* Si un elemento del navbar de bootstrap está activo */
.navbar.bg-blanco {
    background-color: white !important;
}

.nav-item {
    padding: 1.25px 10px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0, 0, 0, 1);
    border-bottom: rgba(66, 139, 202, 0) 2px solid;
}

.navbar-light .navbar-nav .nav-item:hover {
    background-color: rgba(0, 0, 0, 0.05) !important;
    border-radius: 5px;
}

.navbar-light .navbar-nav .active {
    border-bottom: #428bca 2px solid;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link:hover {
    color: rgba(0, 0, 0, 1);
}

/* Carousel de imagenes */

.carousel {
    margin-top: 0;
}

.carousel img {
    vertical-align: middle;
    max-height: 350px;
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: none;
    object-fit: cover;
    object-position: 30% 70%;
    animation-name: posicion-img;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

@keyframes posicion-img {
    from {
        object-position: 130% 70%
    }

    to {
        object-position: 130% 0%
    }
}

.carousel-item:before {
    content: "";
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 350px;
    width: 100%;
    background: linear-gradient(222deg, #428bcab7, #0f64aab6);
    background-size: 400% 400%;
    -webkit-animation: blueTalaveraGradient 30s ease infinite;
    -moz-animation: blueTalaveraGradient 30s ease infinite;
    animation: blueTalaveraGradient 30s ease infinite;
}


@-webkit-keyframes blueTalaveraGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes blueTalaveraGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes blueTalaveraGradient {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

.contenido-carousel {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 62.5px;
    width: 100vw;
    height: 350px;
    background-color: rgba(0, 0, 0, 0.00);
    color: white;
    z-index: 150;
    vertical-align: middle;
}

.contenido-carousel-child {
    position: relative;
    display: table-cell;
    vertical-align: center;
    text-align: center;
    top: 0;
    bottom: 0;
}

.contenido-carousel-child>.titulo {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}

.contenido-carousel-child .titulo+.subtitulo {
    text-shadow: 2px 2px rgba(0, 0, 0, 0.75);
}

.btn-visitar-talavera {
    margin-top: 25px;
    background-color: rgba(0, 0, 0, 0.25);
}

.btn-visitar-talavera:hover {
    background-image: url('../img/418-732.jpg');
    color: white;
}

/* Div para planear viaje */

.container.planea-viaje{
    margin-top:35px;
}


.card-planea-viaje{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 100%; 
    border-radius: 2px;
    margin-top: 30px;
    margin-bottom: 30px;
    height:300px;
    display: table;
    background: white;
    transition: 0.2s color ease-in-out;
    border-radius: 20px;
}

.card-planea-viaje:hover{
    color:white;
    animation: cambiarBG .5s ease-in-out;
    -webkit-animation: blueTalaveraGradient 15s ease infinite;
    -moz-animation: blueTalaveraGradient 15s ease infinite;
    animation: blueTalaveraGradient 15s ease infinite;
}

.hotel-bg:hover{
    background-image: url("../img/hotel-ebora.jpg");
}

.restaurante-bg:hover{
    background-image: url("../img/restaurante-el-coto.jpg")
}

.cine-bg:hover{
    background-image: url("../img/alfares.jpg")
}

@keyframes cambiarBG{
    0%{
        background: white;
    }
    100%{
        background: linear-gradient(222deg, #428bca5d, #0f64aa59, #428bca62);
    }
}

@keyframes saltar{
    0%{
        transform: translateY(0);
    }
    10%{
        transform: translateY(-10px);
    }
    20%{
        transform: translateY(-20px);
    }
    30%{
        transform: translateY(-30px);
    }
    40%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(-30px);
    }
    60%{
        transform: translateY(-20px);
    }
    70%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0);
    }
}

.card-planea-viaje:hover > div > .icon-planes{
    transform-origin: 50% 50%;
    animation: saltar 0.75s linear;
}

.card-planea-viaje > div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border-radius: 20px;
}

.card-planea-viaje:hover > div {
    background: linear-gradient(222deg, #428bcacb, #0f64aacb, #428bcacb);
    -webkit-animation: blueTalaveraGradient 30s ease infinite;
    -moz-animation: blueTalaveraGradient 30s ease infinite;
    animation: blueTalaveraGradient 30s ease infinite;
}

.card-planea-viaje > div > h4 {
    transform: translateY(25px);
    opacity: 1;
}

.icon-planes{
    font-size: 4.20em;
}

/** CHATBOT **/

div.chatbot-container{
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 1em;
}

.hide-chatbot{
    display: none!important;
}

button.chatbot{
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 6px 0;
    font-size: 1.7em;
    line-height: 1.42;
    border-radius: 50%;
    transition: 0.70s;
}

button.chatbot:hover{
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}

span.chatbot{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
div.chatbot-container:hover > span.chatbot{
    visibility: visible;
    display: inline;
    opacity: 0.75;
}

div.chatbot{
    height: 400px;
    width: 300px;
    position: fixed;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    margin-bottom: 75px;
    background-color:white;
    z-index: 1000;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 20px;
    animation: mostrar-chatbot-d .5s ease-in-out;
}
div.chatbot-mensajes{
    background-color:white;
    height:280px;
    position: relative;
    bottom: 0;
}

div.chatbot-escribir{
    background-color:white;
    border-top: .2px solid #e6e6e6;
    height:50px;
    bottom: 0;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#chatbot-input{
    width: 90%;
    background-color: #e6e6e6;
    border-radius: 25px;
    height:30px;
    border:0;
    color: black;
    padding-left:20px;
    margin:10px 5%;
}

div.chatbot-header{
    background-color: #007bff;
    height: 70px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
}

div.chatbot-header-text{
    margin-left: 10px;
    color: white;
    float: left;
}

.chatbot-header-text > span{
    margin-top: auto;
    margin-bottom: auto;
}

div.nombre-chatbot{
    font-size: 20px;
}
div.status-chatbot{
    font-size: 14px;
}

.online{
    height:10px;
    width: 10px;
    border-radius: 50%;
    background-color:lime;
    border: 1px solid black;
    float: left;
    margin-right: 5px;
    margin-top:5px;
}

img.chatbot-img-perfil{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    border: 1px solid white;
    float: left;
    margin-left: 20px;
    margin-right: 15px;
}

@keyframes mostrar-chatbot{
    0% {
        transform: translateY(600px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes mostrar-chatbot-d{
    0% {
        transform: translateX(400px);
    }
    100% {
        transform: translateY(0);
    }
}